<body>
    <div class="boxes">
        <div *ngIf="!isShowChangePassword" class="forgot-password">
            <h3>Forgot Password</h3>
            <br />
            <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="text" id="email" [(ngModel)]="email" />
            </div>
            <br />
            <button (click)="onSubmit()">Submit</button>
        </div>

        <div *ngIf="isShowChangePassword" class="forgot-password">
            <h3>Change Password</h3>
            <br />
            <div class="form-group">
                <label for="newPassword">Enter New Password</label>
                <input type="password" id="newPassword" [(ngModel)]="newPassword" />
            </div>
            <br />
            <button (click)="onChangePassword()">Submit</button>
        </div>
    </div>
</body>