body {
    background-image: url("../../../assets/images/3.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Adjust font-family as needed */
    margin: 0;
    padding: 0;
    height: 100vh;
}
.boxes {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Adjust the height */
    width: 300px; /* Adjust the width */
    background-color: rgba(255, 255, 255, 0.8); /* Box background color with opacity */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    margin: auto; /* Center the box horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Centering the content */
.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height to fill the viewport */
}

/* Styling for the form container */
.form-group {
    margin-bottom: 20px;
}

/* Styling for the headings */
.forgot-password h3 {
    margin-bottom: 20px;
}

/* Styling for the input fields */
.forgot-password input[type="text"],
.forgot-password input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Styling for the buttons */
.forgot-password button {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password button:hover {
    background-color: #0056b3; /* Button background color on hover */
}