<!-- <div class="image">
    <img src="C:\Users\win11\Downloads\grocessary-management-front-end\src\assets\images\adminlogin.jpg" alt="">
</div> -->
<div class="adminhome">
   
    <div class="main admin-login">
        <h1 class="deepa">Admin Sign-In</h1>
        <br />
        <div class="item-icon">
           <div class="icon">
            </div><input class="deepa2" type="text" [(ngModel)]="email" placeholder="Email">
        </div>
        <br />
        <div class="item-icon">
           <div class="icon">
            </div><input class="deepa2" type="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <br />
        <div>
            <button (click)="signIn()" mat-raised-button color="primary" class="btn">Sign In</button>
        </div>
    </div>
    </div>