<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="../../../assets/images/groceryImage.png" >
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="../../../assets/images/banner1.jpg">
    </div>
   
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="../../../assets/images/chipsimg.jpg" >
    </div>
    
  </ng-template>
</ngb-carousel>


<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
<div class="container">
  <div class="row">
      <div class="col-12">
          <h2 class="menu-section-heading">Explore Products</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
              <img src="../../../assets/images/dairyproduct.jpg" class="menu-item-image w-100" />
              <h1 class="menu-card-title">Dairy Products</h1>
          </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/images/oralcare.jpg" class="menu-item-image w-100" />
            <h1 class="menu-card-title">Oral Care</h1>
        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
      <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/images/cereals.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Cerals</h1>
      </div>

  </div>

  <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
    <div class="shadow menu-item-card p-3 mb-3">
        <img src="../../../assets/images/skincare.jpg" class="menu-item-image w-100" />
        <h1 class="menu-card-title">Skin Care</h1>

    </div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
  <div class="shadow menu-item-card p-3 mb-3">
      <img src="../../../assets/images/snacks.jpg" class="menu-item-image w-100" />
      <h1 class="menu-card-title">Snacks</h1>
  </div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
    <img src="../../../assets/images/makeup.jpg" class="menu-item-image w-100" />
    <h1 class="menu-card-title">Makeup</h1>
</div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
  <img src="../../../assets/images/household.jpg" class="menu-item-image w-100" />
  <h1 class="menu-card-title">Household Products</h1>
</div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
<img src="../../../assets/images/General.jpg" class="menu-item-image w-100" />
<h1 class="menu-card-title">General</h1>
</div>

</div>
</div>

</div>
</div>

<div class="footer-section pt-5 pb-5">
<div class="container">
  <div class="row">


      <div class="col-12 text-center">
          <!-- <img src="../../../assets/images/lastimage.jpg" /> -->
          <h1 class="footer-section-mail-id">Super Bazaar <br> Jayanagara 5th Block Benglore</h1>
          <p class="footer-section-address">
            
          </p>
      </div>
  </div>
</div>
</div>