<div class="header"><app-app-header *ngIf="!isLoggedIn && !isAdminLoggedIn"></app-app-header>
    <app-client-header *ngIf="isLoggedIn && !isAdminLoggedIn"></app-client-header>
    <app-admin-header *ngIf="!isLoggedIn && isAdminLoggedIn"></app-admin-header>
</div>
<div class="mainroute">
<router-outlet></router-outlet>
</div>
<div class="footer">
<footer>
    <div class="footer-box">

    </div>
    <div class="clearfix"></div>
</footer>

<!-- Adding Copyright -->
<div class="copy">
   
</div>
</div>