tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
}
table tr td{
        padding: 10px;
       
        
}

.payment-tab {
    width: 40%;
    margin: 0 auto;
    box-shadow: rgb(109 109 125 / 28%) 0px 4px 7px 12px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/262/214/530/orange-and-blue-fire-and-ice-gradient-wallpaper-preview.jpg"); */
    height: 600px;
}
.centered {
    display: flex;
    font-size: 16px;
    
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/262/214/530/orange-and-blue-fire-and-ice-gradient-wallpaper-preview.jpg"); */
}
.signup1{
    display: flex;
    height: 650px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/262/214/530/orange-and-blue-fire-and-ice-gradient-wallpaper-preview.jpg");
}