<div class="main">
    <div><img style="width: 100%; height: 60px;"  src="/assets/images/MMlogo.jpg" ></div> 
    
    <div (click)="gotourl('')" [class.selected]="url === '/'">Home</div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'">About Us</div>
    <!-- <div (click)="gotourl('client-register')"  [class.selected]="url === '/client-register'">Register</div> -->
    <div (click)="gotourl('client-login')" [class.selected]="url === '/client-login'">Customer Login</div>
    <div (click)="gotourl('admin-login')" [class.selected]="url === '/admin-login'">Admin Login</div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'">Contact us</div>
</div>